<footer>
  <div class="footer border-top">
    <div class="social-media mb-1">
      <a href="https://www.facebook.com/yashwardhan.singhthakur.7/">
        <span><i class="fa-brands fa-square-facebook"></i></span
      ></a>
      <a href="https://x.com/YashwardhanSt">
        <span><i class="fa-brands fa-square-x-twitter"></i></span
      ></a>
      <a href="https://www.linkedin.com/in/yashwardhan-singh-thakur-72b992203/">
        <span><i class="fa-brands fa-linkedin"></i></span
      ></a>
    </div>
    <div class="mb-1 text-center">
      <p>Made with <i class="fa-solid fa-heart"></i> by Yashwardhan</p>
      <p>&copy; Wanderlust private limited</p>
    </div>
  </div>
</footer>
