<% layout("layouts/boilerplate") %>
<body>
  <div class="row">
    <div class="col-8 alert alert-danger d-flex align-items-center offset-2">
      <p>
        <i class="fa-solid fa-triangle-exclamation me-2"></i> <%= message %>
      </p>
    </div>
  </div>
</body>
