<% layout("layouts/boilerplate") %>

<body>
  <form method="post" action="/login" class="needs-validation" novalidate>
    <div class="container row">
      <h1 class="col-6 offset-4">Log in to Wanderlust</h1>
      <div class="col-6 mb-3 offset-4">
        <label for="username" class="form-lable">Username</label>
        <input
          type="text"
          placeholder="username"
          class="form-control"
          name="username"
          id="username"
          required
        />
      </div>
      <div class="col-6 mb-3 offset-4">
        <label for="password" class="form-lable">Password</label>
        <input
          type="password"
          placeholder="Enter a strong password"
          class="form-control"
          name="password"
          id="password"
          required
        />
      </div>
      <div class="col-6 offset-4">
        <button class="btn btn-success">login</button>
      </div>
    </div>
  </form>
</body>
